
body {
  background: url(images/nmn.jpeg) no-repeat center center fixed;
  background-size: cover;
}
.product-img {
    background-color: #ddd;
    height: 200px;
  }

  .small-product-img {
    background-color: #ddd;
    height: 100px;
  }

  .buy-btn {
    background-color: #000;
    color: #fff;
    border: none;
  }

  .buy-btn:hover {
    background-color: #444;
  }
